@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,100;1,400&display=swap');

html {
    scroll-behavior: smooth;
    font-style: 'Roboto Slab';
    overflow-x: hidden;
}

.purple, .purple:visited{
    text-decoration: none;
    color: purple;
    cursor: pointer;
}


body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: whitesmoke;
}

.container{
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation-options{
    background: whitesmoke;
}

.links{
    display: flex;
    height: 75px;
    width: 70%;
    justify-content: space-between;
}
.link-wrapper{
    display: inline-block;
    position: relative;
    margin: 0px 12px;
    transition: .5s;
}

.link-wrapper:hover{
    z-index: 9999;
    transform: rotate(-6deg) scale(1.35);
}

.imageLink{
    width: 12vw;
    min-width: 50px;
    height: 6vh;
    display: block;
}


.link-wrapper:nth-child(even):hover{
    transform: rotate(6deg) scale(1.35);
    z-index: 9999;
}
.link-wrapper:nth-child(even):hover .shape-wrapper{
    display: block;
}


.shape-wrapper{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.link-wrapper:hover .shape-wrapper{
    display: block;
}

.svg{
    position: absolute;
    left: 0;
    top: 0;
}
.shape-red{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all .1s linear;
    animation-duration: .45s;
    animation-delay: 0.08s;
    animation-duration: .45s;
    animation-delay: 0.08s;
    opacity: .8;
    overflow: hidden;
    -webkit-animation-name: jelly;
    animation-name: jelly;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.shape-cyan {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all .1s linear;
    animation-duration: .45s;
    animation-delay: 0.08s;
    mix-blend-mode: screen;
    animation-delay: 0.05s;
    animation-duration: .4s;
    overflow: hidden;
    -webkit-animation-name: jelly;
    animation-name: jelly;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes jelly {
    0% {
      width: 100%; transform: scale(1.25,1) skewX(20deg) translateY(3px) rotateX(40deg) rotateY(10deg) rotateZ(-10deg);
    }
    50% { width: 100%; transform: scale(1.25,1.1) skewX(-15deg) translateY(-2px) translateZ(-30px); }
    100% { width: 100%; transform: scale(1.25,1) skewX(20deg) translateY(3px) rotateX(-40deg) rotateY(-10deg) rotateZ(-15deg); }
  }

  @media (max-width: 720px) {
    #navigation-options{
        height: 120px;
        border-bottom: 1px solid silver;
        min-height: auto;
    }
}

.card{
    display: flex;
    flex-direction: column;
    border: 3px solid grey;
    width: 16vw;
    align-items: center;
    padding-top: 5px;
    height: 48vh;
    animation: rotateAnimation 1.5s linear infinite;
}

.card .cardname{
    display: flex;
    flex-direction: row;
    border: 1.5px solid grey;
    border-radius: 5px;
    width: 90%;
    padding: 2px;
}

.card .stars{
    display: flex;
    width: 90%;
    padding: 3px 0px;
    flex-direction: row;
    border: 1px solid orange;
    justify-content: end;
}

.card .star-wrapper{
    border-radius: 100%;
    padding: 4px;
    margin-right: 5px;
    background: red;
}

.card .star{
    position: relative;
    display: block;
    color: orange;
    width: 0px;
    height: 0px;
    left: -px;
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid orange;
    border-left: .3rem solid transparent;
    transform: rotate(35deg);
}

.card .star::before {
    border-bottom: .2rem solid orange;
    border-left: .2rem solid transparent;
    border-right: .2rem solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -.5px;
    left: -5px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

.card .star::after{
    position: absolute;
    display: block;
    top: 2px;
    left: -7px;
    width: 0px;
    height: 0px;
    border-right: .4rem solid transparent;
    border-bottom: .2rem solid orange;
    border-left: .4rem solid transparent;
    transform: rotate(-70deg);
    content: '';
}

.card .card-img{
    width: 90%;
    height: 55%;
    margin-top: 5px;
    border: 3px solid gray;
}

.card .card-img img{
    width: 100%;
    height: 100%;
}

.card .card-description{
    margin-top: 5px;
    border: 3px solid red;
    width: 90%;
    height: 18%;
}

@keyframes rotateAnimation {
    from {
      transform: rotateY(45deg);
    }
    to {
      transform: rotateY(225deg);
    }
  }